<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Atomify</title>
  </head>
  <body>
    <form action="/scrape" method="post">
      <input type="text" name="url" placeholder="Enter a URL...">
      <button type="submit">Scrape</button>
    </form>
    <h1 id="title"></h1>

    <script>
  const form = document.querySelector('form');
form.addEventListener('submit', (event) => {
  event.preventDefault();
  const url = form.elements.url.value;
  console.log('the url is:',url);
  fetch('/scrape', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ url: encodeURIComponent(url) })
  })
  .then(response => response.json())
  .then(data => {
    const title = document.querySelector('#title');
    title.innerHTML = data.h1;
    data.cssLinks.forEach(cssLink => {
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = cssLink;
      document.head.appendChild(link);
    });
  });
});

    </script>
  </body>
</html>
